.pageblock{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f6f7fb;
}
.pageblock__item{
    
}
.pageblock__item--header{
    
}
.pageblock__item--section{
    
}
.pageblock__item--footer{
    
}
/*userblock*/
.card{
}
.card__item{   
}
.card__item--avatar{
    
}
.card__item--user-details{   
}
.card__item--user-name{   
}
.card__item--user-comments{   
}
.card__item--delete{   
}

